.profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: fit-content;
    min-width: 120px;
    width: fit-content;

    margin: 8px;
    list-style: none;
    position: absolute;
    top: 33px;
    right: 0px;
    background-color: white;
    border: 1px solid #e3bc3f;
}

.profile-button-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-button {
    /* background-color: #001d3d; */
    /* background-color: #00145ce3; */
    background-color: #37003c;
    border: 0.1px solid #e3bc3f;
    border-radius: 10px;
    color: #e3bc3f;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 0;
    height: 45px;
}

.profile-button-bars-div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.profile-button-container:hover {
    background-color: #001d3d;
    border-radius: 21px;
    box-shadow: -2px 3px 1px rgba(165, 165, 165, 0.2);
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.dropdown-menu {
    width: 100%;
    height: inherit;
    /* background-color: #001d3d; */
    background-color: #37003c;
}

.log-in-sign-up > div > button {
    text-align: left;
    width: 100%;
    height: inherit;
    font-size: 14px;
    transition-property: all;
    cursor: pointer;
    font-weight: bold;
    color: #e3bc3f;
    background-color: #37003c;
    border: none;
    border-radius: 5px;
    height: 100%;
    padding: 20px 10px;
}

.log-in-sign-up > div > button:hover {
    /* background-color: rgba(165, 165, 165, 0.1); */
    background-color: #e3bc3f;
    color: #37003c;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding-left: 10px;
}


#sign-up-modal {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    transition-property: all;
    border-bottom: 1px solid #e3bc3f;
}

#sign-up-modal:hover {
    /* background-color: rgba(165, 165, 165, 0.1); */
    background-color: #37003c;

}

#log-in-modal {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    transition-property: all;
    border-bottom: 1px solid #e3bc3f;
}

#sign-up-modal:hover {
    background-color: rgba(165, 165, 165, 0.1);
}

#log-in-modal:hover {
    background-color: rgba(165, 165, 165, 0.1);
}

.profile-info-actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: inherit;
    font-size: 14px;
    transition-property: all;
    /* background-color: #001d3d; */
    background-color: #37003c;
    color: #e3bc3f;
    border: 1px solid #e3bc3f;
}

#username {
    padding: 10px 0px;
    border-bottom: 1px solid #e3bc3f;
}

#profile-play {
    padding: 10px 0;
    border-bottom: 1px solid #e3bc3f;
}

#profile-play:hover {
    padding: 10px 0;
    border-bottom: 1px solid #e3bc3f;
    background-color: #e3bc3f;
    color: #37003c;
}

#demo-user-button {
    /* margin-top: 5px; */
    background-color: #37003c;
    /* color: #001d3d; */
    color: #e3bc3f;
    height: 25px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

#demo-user-button:hover {
    background-color: #e3bc3f;
    color: #37003c;
    border-radius: 0px;
}


#logout-button {
    margin-top: 5px;
    height: 25px;
    color: #e3bc3f;
    /* background-color: #001d3d; */
    background-color: #37003c;
    /* background-color: #00145ce3; */
}

#logout-button:hover {
    /* color: #e3bc3f; */
    background-color: #e3bc3f;
    color: #37003c;
    border-radius: 0;
}

.fantasywc-button {
    /* background-color: #001d3d; */
    /* background-color: #00145ce3; */
    background-color: #37003c;
    justify-content: left;
    color: gray;
    /* font-weight: bolder; */
    border: none;
    border-radius: 7px;
    /* height: 3rem; */
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
}

.fantasywc-button:hover {
    background-color: #e3bc3f;
}
